body {
    max-width: 90vw;
}
/* @media screen and (min-width: 1200px) {
    .main-element > * {
        display: none;
    }

    .main-element>h2:hover  {
        all: unset;
    }
    .micro-elements > * {
        display: none;
    }

    .macro-elements > * {
        display: none;
    }

    .calculator > * {
        display: none;
    }


    body {
        max-width: 90vw;
    }
    main {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-element {
        display: block;
        position: relative;
        width: 300px;
        height: 300px;

    }

    .micro-elements {
        display: block;
        background-image: url('../images/1.webp');
        width: 500px;
        height: 500px;
        max-height: 500px;
        background-size:  cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .macro-elements {
        display: block;
        background-image: url('../images/2.webp');
        width: 500px;
        height: 500px;
        max-height: 500px;
        background-size:  cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .calculator {
        display: block;
        background-image: url('../images/3.webp');
        width: 500px;
        height: 500px;
        max-height: 500px;
        background-size:  cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .micro-elements h2, 
    .macro-elements h2, 
    .calculator h2 {
        display: none;
    }


    .main-element.active .micro-elements,
.main-element.active .macro-elements,
.main-element.active .calculator {
    max-height: unset; 
    padding: unset;
} 

#wide {
    display: block;
    position: absolute;
    background-color: unset;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 40px;
}
#wide a{
    transform: translate(-50%, -50%);
    color:white;
    font-size: 40px;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#wide a:hover {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

} */